{% load static %}<!DOCTYPE html>
<html lang="en">
  <head>
    <title>CompEng.gg</title>
    <meta name="description" content="A site for Computer Engineers.">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
      html, body, div#logo {
        background-color: black;
        margin: 0;
        height: 100%;
      }

      #logo {
        display: grid;
        place-items: center;
      }
      #logo img {
        width: 50%;
      }
    </style>
  </head>
  <body>
    <div id="logo">
      <img src="{% static "img/logo.svg" %}" alt="CompEng.gg">
    </div>
  </body>
</html>
