{% extends "base.html" %}

{% load static %}

{% block content %}
    <div id="logo">
      <img src="{% static "img/logo.svg" %}" alt="CompEng.gg" width="100%">
    </div>

    <div id="content">
      <p>
Welcome to CompEng.gg! This future platform plans to offer straightforward
learning tools for anyone diving into computer engineering. Whether you are a
student, a working professional, or a teacher, you’ll find resources here that
simplify complex concepts and guide you through the learning process.
We make computer engineering approachable and understandable for
everyone.
      </p>
    </div>
{% endblock %}
