@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 255, 255, 255;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

.form-container {
  display: flex;
  flex-direction: column;
  gap: 1em; /* Adjust the spacing as needed */
}

/* Add the spinning animation */
@keyframes spin {
  from {
      transform: rotate(0deg);
  }
  to {
      transform: rotate(360deg);
  }
}

/* Apply spin animation only on hover */
.hover-spin:hover {
  animation: spin 1s linear infinite;
}

.sticky_header {
  position: sticky;
  top: 0;
  z-index: 1000; /* Adjust to ensure it sits above other elements */
  background-color: white; /* Optional: set a background so content below doesn't show through */
  padding: 1rem; /* Optional styling */
}